/dev
/downloader
/images
/includes
/magento
/media
/pkginfo
/sitemaps
/staging
/tmp
/var
.idea/*
.idea
.modman/*
app/etc/local.xml
app/etc/enterprise.xml
errors/local.xml
*.*~
*.sql
*.swp
*.tar
*.tar.gz
.DS_Store
.htaccess
error_log
php.ini
/.svn
.svn/*
.svn
REVISION
/petrapersonally
/sitemap.xml
/magmi
robots.txt

*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
/wp/wp-config.php
/wp/wp-content/uploads/
/wp/wp-content/showcase/
/wp/wp-content/blogs.dir/
/wp/wp-content/upgrade/
/wp/wp-content/backup-db/
/wp/wp-content/advanced-cache.php
/wp/wp-content/wp-cache-config.php
/wp/wp-content/cache/*
/wp/wp-content/cache/supercache/*
*.log
/wp/wp-content/cache/
/wp/wp-content/backups/
/wp/sitemap.xml
/wp/sitemap.xml.gz
