<?xml version="1.0"?>
<config>
	<global>
		<models>
            <imageslider>
                <class>Sm_Imageslider_Model</class>
            </imageslider>
        </models>
		<blocks>
            <imageslider>
                <class>Sm_Imageslider_Block</class>
            </imageslider>
        </blocks>				
		<helpers>
            <imageslider>
                <class>Sm_Imageslider_Helper</class>
            </imageslider>
        </helpers>
        <resources>
        	<slider_setup>
        		<setup>
        			<module>Sm_Imageslider</module>
        		</setup>
				<!--connection>
					  <use>core_setup</use>
				</connection-->
        	</slider_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<imageslider>
                <use>standard</use>
                <args>
                    <module>Sm_Imageslider</module>
                    <frontName>imageslider</frontName>
                </args>
            </imageslider>
        </routers>
		<layout>
            <updates>
                <imageslider module="Sm_Imageslider">
					<file>sm/imageslider.xml</file>
                </imageslider>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Sm_Imageslider>
                     <files>
                          <default>Sm_Imageslider.csv</default>
                     </files>
                </Sm_Imageslider>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Sm_Imageslider>
                     <files>
                          <default>Sm_Imageslider.csv</default>
                     </files>
                </Sm_Imageslider>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>										
										<imageslider_cfg translate="title" module="imageslider">
											<title>SM Image Slider Settings</title>
										</imageslider_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				 <imageslider module="Sm_Imageslider">
					<file>sm/imageslider.xml</file>
                </imageslider>
			</updates>
		</layout>
	</adminhtml>
	<default>
        <imageslider_cfg>
			<general>
				<active>1</active>
				<nb_column1>3</nb_column1>
				<nb_column2>2</nb_column2>
				<nb_column3>2</nb_column3>
				<nb_column4>1</nb_column4>
				<slider_title_text>Title Image Slider</slider_title_text>
				<product_links_target>_self</product_links_target>
			</general>
			
			<source_options>
				<product_additem></product_additem>
			</source_options>
				
			<effect_options>
				<play>1</play>
				<start>1</start>
				<scroll>1</scroll>
				<duration>800</duration>
				<delay>2500</delay>
				<stop>1</stop>
			</effect_options>

			<advanced>
				<include_jquery>1</include_jquery>
				<pretext></pretext>
				<posttext></posttext>
			</advanced>
        </imageslider_cfg>
    </default>
</config>