<?xml version="1.0"?>
<config>
	<global>
		<models>
			<deal>
				<class>Sm_Deal_Model</class>
			</deal>
		</models>
		<blocks>
			<deal>
				<class>Sm_Deal_Block</class>
			</deal>
		</blocks>
		<helpers>
			<deal>
				<class>Sm_Deal_Helper</class>
			</deal>
		</helpers>
		<resources>
			<deal_setup>
				<setup>
					<module>Sm_Deal</module>
				</setup>
			</deal_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<deal>
				<use>standard</use>
				<args>
					<module>Sm_Deal</module>
					<frontName>deal</frontName>
				</args>
			</deal>
		</routers>
		<layout>
			<updates>
				<deal module="Sm_Deal">
					<file>sm/deal.xml</file>
				</deal>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sm_Deal>
					<files>
						<default>Sm_Deal.csv</default>
					</files>
				</Sm_Deal>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Sm_Deal>
					<files>
						<default>Sm_Deal.csv</default>
					</files>
				</Sm_Deal>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<deal_cfg translate="title" module="deal">
											<title>SM Basic Products Settings</title>
										</deal_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<basket>
					<file>picker.xml</file>
				</basket>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<deal_cfg>
			<general>
				<active>1</active>
				<title>SM Deal</title>
				<deal_title_text>Title Deal</deal_title_text>
				<product_links_target>_self</product_links_target>
				<nb_column1>4</nb_column1>
				<nb_column2>2</nb_column2>
				<nb_column3>2</nb_column3>
				<nb_column4>1</nb_column4>
			</general>

			<source_options>
				<product_source>0</product_source>
				<product_category></product_category>
				<child_category_products>1</child_category_products>
				<max_depth>1</max_depth>
				<product_featured>0</product_featured>
				<product_order_by>name</product_order_by>
				<product_order_dir>ASC</product_order_dir>
				<product_limitation>5</product_limitation>
				<product_ids></product_ids>
			</source_options>

			<product_options>
				<product_image_display>1</product_image_display>
				<imgcfg_width>270</imgcfg_width>
				<imgcfg_height>270</imgcfg_height>
				<product_title_display>1</product_title_display>
				<product_title_maxlength>25</product_title_maxlength>
				<product_description_display>1</product_description_display>
				<product_description_maxlength>100</product_description_maxlength>
				<product_description_striptags>1</product_description_striptags>
				<product_price_display>1</product_price_display>
				<product_reviews_count>1</product_reviews_count>
				<product_addcart_display>1</product_addcart_display>
				<product_addwishlist_display>1</product_addwishlist_display>
				<product_addcompare_display>1</product_addcompare_display>
				<product_readmore_display>1</product_readmore_display>
				<product_readmore_text>Details</product_readmore_text>
			</product_options>

			<!--image_options>
				<imgcfg_from_product_image>1</imgcfg_from_product_image>
				<imgcfg_from_product_description>1</imgcfg_from_product_description>
				<imgcfg_order>product_image, product_description</imgcfg_order>
				<imgcfg_function>1</imgcfg_function>
				<imgcfg_width>200</imgcfg_width>
				<imgcfg_height>200</imgcfg_height>
				<imgcfg_constrainOnly>false</imgcfg_constrainOnly>
				<imgcfg_keepAspectRatio>true</imgcfg_keepAspectRatio>
				<imgcfg_keepFrame>true</imgcfg_keepFrame>
				<imgcfg_keepTransparency>true</imgcfg_keepTransparency>
				<imgcfg_background>FFFFFF</imgcfg_background>
				<imgcfg_placeholder>sm/deal/images/nophoto.jpg</imgcfg_placeholder>
			</image_options-->

			<advanced>
				<pretext>Pretext</pretext>
				<posttext>Posttext</posttext>
			</advanced>
		</deal_cfg>
	</default>
</config>