<?xml version="1.0"?>
<config>
    <modules>
        <AW_Lib>
            <version>1.0.1</version><platform>ce</platform>
        </AW_Lib>
    </modules>
    <crontab>
        <jobs>
            <aw_lib_logger_cron>
                <schedule>
                    <cron_expr>1 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>aw_lib/log_logger::processOldLogs</model>
                </run>
            </aw_lib_logger_cron>
        </jobs>
    </crontab>
    <global>
        <blocks>
            <aw_lib>
                <class>AW_Lib_Block</class>
            </aw_lib>
        </blocks>
        <helpers>
            <aw_lib>
                <class>AW_Lib_Helper</class>
            </aw_lib>
        </helpers>
        <models>
            <aw_lib>
                <class>AW_Lib_Model</class>
                <resourceModel>aw_lib_mysql4</resourceModel>
            </aw_lib>
            <sales>
                <rewrite>
                    <order_pdf_invoice>AW_Lib_Model_AdminhtmlPdf_Sales_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_creditmemo>AW_Lib_Model_AdminhtmlPdf_Sales_Order_Pdf_Creditmemo</order_pdf_creditmemo>
                    <order_pdf_shipment>AW_Lib_Model_AdminhtmlPdf_Sales_Order_Pdf_Shipment</order_pdf_shipment>
                </rewrite>
            </sales>
            <aw_lib_mysql4>
                <class>AW_Lib_Model_Log_Mysql4</class>
                <entities>
                    <logger>
                        <table>aw_lib_logger</table>
                    </logger>
                </entities>
            </aw_lib_mysql4>
        </models>
        <resources>
            <aw_lib_setup>
                <setup>
                    <module>AW_Lib</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aw_lib_setup>
            <aw_lib_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aw_lib_write>
            <aw_lib_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aw_lib_read>
        </resources>
        <events>
            <controller_action_predispatch>
                <observers>
                    <controller_action_predispatch>
                        <class>aw_lib/rewriteManager_config</class>
                        <method>init</method>
                    </controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
    <admin>
        <routers>
            <awlib_admin>
                <use>admin</use>
                <args>
                    <module>AW_Lib</module>
                    <frontName>awlib_admin</frontName>
                </args>
            </awlib_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <aw_lib>
                    <file>aw_lib.xml</file>
                </aw_lib>
            </updates>
        </layout>
        <translate>
            <modules>
                <aw_lib>
                    <files>
                        <default>AW_Lib.csv</default>
                    </files>
                </aw_lib>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <awall>
            <aw_lib>
                <logger_store_days>90</logger_store_days>
                <logger_enabled>1</logger_enabled>
                <save_archive>0</save_archive>
            </aw_lib>
        </awall>
    </default>
</config>