<?xml version="1.0"?>
<config>
    <modules>
        <AW_Helpdesk3>
            <version>3.3.1</version><platform>ce</platform>
        </AW_Helpdesk3>
    </modules>
    <global>
        <resources>
            <aw_hdu3_setup>
                <setup>
                    <module>AW_Helpdesk3</module>
                </setup>
            </aw_hdu3_setup>
            <aw_hdu3_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aw_hdu3_write>
            <aw_hdu3_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aw_hdu3_read>
        </resources>
        <models>
            <aw_hdu3>
                <class>AW_Helpdesk3_Model</class>
                <resourceModel>aw_hdu3_resource</resourceModel>
            </aw_hdu3>
            <aw_hdu3_resource>
                <class>AW_Helpdesk3_Model_Resource</class>
                <entities>
                    <department_agent>
                        <table>aw_hdu3_department_agent</table>
                    </department_agent>
                    <customer_note>
                        <table>aw_hdu3_customer_note</table>
                    </customer_note>
                    <department>
                        <table>aw_hdu3_department</table>
                    </department>
                    <ticket>
                        <table>aw_hdu3_ticket</table>
                    </ticket>
                    <ticket_history>
                        <table>aw_hdu3_ticket_history</table>
                    </ticket_history>
                    <ticket_history_attachment>
                        <table>aw_hdu3_ticket_history_attachment</table>
                    </ticket_history_attachment>
                    <gateway_mail>
                        <table>aw_hdu3_gateway_mail</table>
                    </gateway_mail>
                    <gateway_mail_reject_pattern>
                        <table>aw_hdu3_gateway_mail_reject_pattern</table>
                    </gateway_mail_reject_pattern>
                    <department_notification>
                        <table>aw_hdu3_department_notification</table>
                    </department_notification>
                    <gateway>
                        <table>aw_hdu3_gateway</table>
                    </gateway>
                    <template>
                        <table>aw_hdu3_template</table>
                    </template>
                    <ticket_status>
                        <table>aw_hdu3_ticket_status</table>
                    </ticket_status>
                    <ticket_status_label>
                        <table>aw_hdu3_ticket_status_label</table>
                    </ticket_status_label>
                    <ticket_priority>
                        <table>aw_hdu3_ticket_priority</table>
                    </ticket_priority>
                    <ticket_priority_label>
                        <table>aw_hdu3_ticket_priority_label</table>
                    </ticket_priority_label>
                    <gateway_mail_attachment>
                        <table>aw_hdu3_gateway_mail_attachment</table>
                    </gateway_mail_attachment>
                    <department_permission>
                        <table>aw_hdu3_department_permission</table>
                    </department_permission>
                    <department_agent_link>
                        <table>aw_hdu3_department_agent_link</table>
                    </department_agent_link>
                    <ticket_history_additional>
                        <table>aw_hdu3_ticket_history_additional</table>
                    </ticket_history_additional>
                    <ticket_message>
                        <table>aw_hdu3_ticket_message</table>
                    </ticket_message>
                </entities>
            </aw_hdu3_resource>
        </models>
        <blocks>
            <aw_hdu3>
                <class>AW_Helpdesk3_Block</class>
            </aw_hdu3>
            <adminhtml>
                <rewrite>
                    <permissions_user_edit>AW_Helpdesk3_Block_Adminhtml_Permissions_User_Edit</permissions_user_edit>
                    <permissions_user_edit_tab_main>AW_Helpdesk3_Block_Adminhtml_Permissions_User_Edit_Tab_Main</permissions_user_edit_tab_main>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <aw_hdu3>
                <class>AW_Helpdesk3_Helper</class>
            </aw_hdu3>
        </helpers>
        <template>
            <email>
                <aw_hdu3_to_admin_new_ticket_email translate="label" module="aw_hdu3">
                    <label>AW Help Desk 3 Admin New Ticket</label>
                    <file>aw_hdu3/to_admin_new_ticket_email.html</file>
                    <type>html</type>
                </aw_hdu3_to_admin_new_ticket_email>
                <aw_hdu3_to_admin_new_reply_email translate="label" module="aw_hdu3">
                    <label>AW Help Desk 3 Admin Ticket Reply</label>
                    <file>aw_hdu3/to_admin_new_reply_email.html</file>
                    <type>html</type>
                </aw_hdu3_to_admin_new_reply_email>
                <aw_hdu3_to_customer_new_ticket_email translate="label" module="aw_hdu3">
                    <label>AW Help Desk 3 Customer New ticket</label>
                    <file>aw_hdu3/to_customer_new_ticket_email.html</file>
                    <type>html</type>
                </aw_hdu3_to_customer_new_ticket_email>
                <aw_hdu3_to_customer_new_ticket_by_admin_email translate="label" module="aw_hdu3">
                    <label>AW Help Desk 3 Customer New ticket(initialized by admin)</label>
                    <file>aw_hdu3/to_customer_new_ticket_by_admin_email.html</file>
                    <type>html</type>
                </aw_hdu3_to_customer_new_ticket_by_admin_email>
                <aw_hdu3_to_customer_new_reply_email translate="label" module="aw_hdu3">
                    <label>AW Help Desk 3 Customer Ticket Reply</label>
                    <file>aw_hdu3/to_customer_new_reply_email.html</file>
                    <type>html</type>
                </aw_hdu3_to_customer_new_reply_email>
                <aw_hdu3_to_new_assignee_reassign_email translate="label" module="aw_hdu3">
                    <label>AW Help Desk 3 Ticket Reassignation</label>
                    <file>aw_hdu3/to_new_assignee_reassign_email.html</file>
                    <type>html</type>
                </aw_hdu3_to_new_assignee_reassign_email>
                <aw_hdu3_to_customer_ticket_changed translate="label" module="aw_hdu3">
                    <label>AW Help Desk 3 Ticket re-assignation or status update For Customer</label>
                    <file>aw_hdu3/to_customer_ticket_changed.html</file>
                    <type>html</type>
                </aw_hdu3_to_customer_ticket_changed>
                <aw_hdu3_to_primary_agent_reassign_email translate="label" module="aw_hdu3">
                    <label>AW Help Desk 3 Ticket Reassignation For Primary Agent</label>
                    <file>aw_hdu3/to_primary_agent_reassign_email.html</file>
                    <type>html</type>
                </aw_hdu3_to_primary_agent_reassign_email>
                <aw_helpdesk3_ticket_escalation_email_template_to_supervisor translate="label" module="aw_hdu3">
                    <label>AW Help Desk 3 Ticket Escalation</label>
                    <file>aw_hdu3/escalate_email.html</file>
                    <type>html</type>
                </aw_helpdesk3_ticket_escalation_email_template_to_supervisor>
            </email>
        </template>
        <events>
            <customer_save_before>
                <observers>
                    <aw_hdu3_customer_save_before>
                        <class>aw_hdu3/ticket_observer</class>
                        <method>customerSaveBefore</method>
                    </aw_hdu3_customer_save_before>
                </observers>
            </customer_save_before>
        </events>
    </global>
    <admin>
        <routers>
            <aw_hdu3_admin>
                <use>admin</use>
                <args>
                    <module>AW_Helpdesk3</module>
                    <frontName>helpdesk_admin</frontName>
                </args>
            </aw_hdu3_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <aw_hdu3>
                    <file>aw_hdu3.xml</file>
                </aw_hdu3>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Helpdesk3>
                    <files>
                        <default>AW_Helpdesk3.csv</default>
                    </files>
                </AW_Helpdesk3>
            </modules>
        </translate>
        <events>
            <admin_user_save_after>
                <observers>
                    <aw_hdu3_admin_user_save_after>
                        <class>aw_hdu3/department_observer</class>
                        <method>adminUserSaveAfter</method>
                    </aw_hdu3_admin_user_save_after>
                </observers>
            </admin_user_save_after>
            <admin_user_delete_after>
                <observers>
                    <aw_hdu3_admin_user_delete_after>
                        <class>aw_hdu3/department_observer</class>
                        <method>adminUserDeleteAfter</method>
                    </aw_hdu3_admin_user_delete_after>
                </observers>
            </admin_user_delete_after>
            <controller_action_postdispatch_adminhtml_sales_order_addComment>
                <observers>
                    <hdu_order_observer>
                        <type>singleton</type>
                        <class>aw_hdu3/ticket_observer</class>
                        <method>createFromOrder</method>
                    </hdu_order_observer>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_addComment>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <aw_hdu3>
                <use>standard</use>
                <args>
                    <module>AW_Helpdesk3</module>
                    <frontName>helpdesk</frontName>
                </args>
            </aw_hdu3>
        </routers>
        <secure_url>
            <helpdesk>/helpdesk/</helpdesk>
        </secure_url>
        <layout>
            <updates>
                <aw_hdu3 module="AW_Helpdesk3">
                    <file>aw_hdu3.xml</file>
                </aw_hdu3>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Helpdesk3>
                    <files>
                        <default>AW_Helpdesk3.csv</default>
                    </files>
                </AW_Helpdesk3>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <aw_hdu3_predispatch_contacts_index_post>
                        <class>aw_hdu3/ticket_observer</class>
                        <method>predispatchContactsIndexPost</method>
                    </aw_hdu3_predispatch_contacts_index_post>
                </observers>
            </controller_action_predispatch_contacts_index_post>
            <aw_pq2_question_save_after>
                <observers>
                    <aw_hdu3_question_save_after>
                        <class>aw_hdu3/ticket_observer</class>
                        <method>questionSaveAfter</method>
                    </aw_hdu3_question_save_after>
                </observers>
            </aw_pq2_question_save_after>
        </events>
    </frontend>
    <default>
        <aw_helpdesk3>
            <general>
                <is_enabled>0</is_enabled>
                <default_department></default_department>
                <ticket_autoexpiration>15</ticket_autoexpiration>
                <gateway_new_ticket_from_incoming_email>0</gateway_new_ticket_from_incoming_email>
                <hide_customer_orders>0</hide_customer_orders>
                <send_carbon_copy_to></send_carbon_copy_to>
                <is_pq_enabled>0</is_pq_enabled>
                <allow_rate>1</allow_rate>
            </general>
            <frontend>
                <show_selectors></show_selectors>
                <allow_customer_to_attach_files>0</allow_customer_to_attach_files>
                <max_upload_file_size>2</max_upload_file_size>
                <allow_file_extension>zip,rar,tgz,tar.gz,jpg,jpeg,png,gif,php,js,phtml,xml,css</allow_file_extension>
                <contact_form>0</contact_form>
                <allow_external_view_for_tickets>0</allow_external_view_for_tickets>
                <show_ticket_page_entities></show_ticket_page_entities>
              </frontend>
            <ticket_escalation>
                <allow_ticket_escalation>0</allow_ticket_escalation>
                <supervisor_emails></supervisor_emails>
                <email_template_to_supervisor>aw_hdu3_escalate_email</email_template_to_supervisor>
            </ticket_escalation>
        </aw_helpdesk3>
    </default>
    <crontab>
        <jobs>
            <hdu3_create_mail_from_new_message>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>aw_hdu3/gateway_cron::createMailFromNewMessage</model>
                </run>
            </hdu3_create_mail_from_new_message>
            <hdu3_create_ticket_from_mail>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>aw_hdu3/ticket_cron::createTicketFromMail</model>
                </run>
            </hdu3_create_ticket_from_mail>
            <hdu3_close_expire_tickets>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>aw_hdu3/ticket_cron::closeExpireTickets</model>
                </run>
            </hdu3_close_expire_tickets>
        </jobs>
    </crontab>
    <aw_hdu3_ticket_history_event_type_models>
        <aw_hdu3>
            <ticket_history_event_status/>
            <ticket_history_event_priority/>
            <ticket_history_event_department/>
            <ticket_history_event_assignee/>
            <ticket_history_event_escalate/>
            <ticket_history_event_message/>
            <ticket_history_event_note/>
        </aw_hdu3>
    </aw_hdu3_ticket_history_event_type_models>
</config>
