<?xml version="1.0"?>
<config>
  <modules>
    <Zenon_Cartupdate>
      <version>0.1.0</version>
    </Zenon_Cartupdate>
  </modules>
  <frontend>
    <routers>
      <cartupdate>
        <use>standard</use>
          <args>
            <module>Zenon_Cartupdate</module>
            <frontName>cartupdate</frontName>
          </args>
      </cartupdate>
    </routers>
		<layout>
		  <updates>
			<cartupdate>
			  <file>cartupdate.xml</file>
			</cartupdate>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <cartupdate>
        <class>Zenon_Cartupdate_Helper</class>
      </cartupdate>
    </helpers>
	<blocks>
	  <cartupdate>
		<class>Zenon_Cartupdate_Block</class>
	  </cartupdate>
	</blocks>
  </global>
</config> 