<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Skrill
 * @package    Skrill_MoneybookersPsp
 * @copyright  Copyright (c) 2012 Skrill Holdings Ltd. (http://www.skrill.com)
 */
-->
<config>
    <modules>
        <Skrill_MoneybookersPsp>
            <version>1.1.3</version>
        </Skrill_MoneybookersPsp>
    </modules>
    <global>
        <models>
            <moneybookerspsp>
                <class>Skrill_MoneybookersPsp_Model</class>
            </moneybookerspsp>
        </models>
        <events>
            <sales_order_save_before >
                <observers>
                    <Skrill_MoneybookersPsp_Model_Observer>
                        <type>singleton</type>
                        <class>Skrill_MoneybookersPsp_Model_Observer</class>
                        <method>hookOrderSaveBefore</method>
                    </Skrill_MoneybookersPsp_Model_Observer>
                </observers>
            </sales_order_save_before>
        </events>
        <helpers>
            <moneybookerspsp>
                <class>Skrill_MoneybookersPsp_Helper</class>
            </moneybookerspsp>
        </helpers>
        <blocks>
            <moneybookerspsp>
                <class>Skrill_MoneybookersPsp_Block</class>
            </moneybookerspsp>
        </blocks>
        <payment>
            <transaction>
                <modes>
                    <LIVE>
                        <code>LIVE</code>
                        <name>Live mode</name>
                    </LIVE>
                    <TEST>
                        <code>INTEGRATOR_TEST</code>
                        <name>Test mode</name>
                    </TEST>
                </modes>
            </transaction>
        </payment>
        <customsettings>
            <redirect>0</redirect>
            <status_check>1</status_check>
        </customsettings>
        <moneybookerspsp>
            <urls>
                <xml>
                    <test>https://test.nextgenpay.com/payment/ctpe</test>
                    <live>https://nextgenpay.com/payment/ctpe</live>
                </xml>
                <wpf>
                    <test>https://test.nextgenpay.com/frontend/payment.prc</test>
                    <live>https://nextgenpay.com/frontend/payment.prc</live>
                </wpf>
            </urls>
        </moneybookerspsp>
    </global>
    <frontend>
        <secure_url>
            <moneybookerspsp_processing>/moneybookerspsp/processing</moneybookerspsp_processing>
        </secure_url>
        <routers>
            <moneybookerspsp>
                <use>standard</use>
                <args>
                    <module>Skrill_MoneybookersPsp</module>
                    <frontName>moneybookerspsp</frontName>
                </args>
            </moneybookerspsp>
        </routers>
        <translate>
            <modules>
                <Skrill_MoneybookersPsp>
                    <files>
                        <default>Skrill_MoneybookersPsp.csv</default>
                    </files>
                </Skrill_MoneybookersPsp>
            </modules>
        </translate>
        <layout>
            <updates>
                <moneybookerspsp>
                    <file>moneybookerspsp.xml</file>
                </moneybookerspsp>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Skrill_MoneybookersPsp>
                    <files>
                        <default>Skrill_MoneybookersPsp.csv</default>
                    </files>
                </Skrill_MoneybookersPsp>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <moneybookerspsp translate="title" module="moneybookerspsp">
                                            <title>Skrill Quick Checkout Enterprise Settings</title>
                                        </moneybookerspsp>
                                        <paysafecard translate="title" module="moneybookerspsp">
                                            <title>PaySafe Card Settings</title>
                                        </paysafecard>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <payment>
            <moneybookerspsp_cc>
                <model>moneybookerspsp/cc</model>
            </moneybookerspsp_cc>
            <moneybookerspsp_va>
                <model>moneybookerspsp/va</model>
            </moneybookerspsp_va>
            <moneybookerspsp_elv>
                <model>moneybookerspsp/elv</model>
            </moneybookerspsp_elv>
            <moneybookerspsp_va_idl>
                <model>moneybookerspsp/va_idl</model>
            </moneybookerspsp_va_idl>
            <moneybookerspsp_va_csi>
                <model>moneybookerspsp/va_csi</model>
            </moneybookerspsp_va_csi>
            <moneybookerspsp_va_did>
                <model>moneybookerspsp/va_did</model>
            </moneybookerspsp_va_did>
            <moneybookerspsp_va_gir>
                <model>moneybookerspsp/va_gir</model>
            </moneybookerspsp_va_gir>
            <moneybookerspsp_va_sft>
                <model>moneybookerspsp/va_sft</model>
            </moneybookerspsp_va_sft>
            <moneybookerspsp_va_lsr>
                <model>moneybookerspsp/va_lsr</model>
            </moneybookerspsp_va_lsr>
            <moneybookerspsp_va_mae>
                <model>moneybookerspsp/va_mae</model>
            </moneybookerspsp_va_mae>
            <moneybookerspsp_va_gcb>
                <model>moneybookerspsp/va_gcb</model>
            </moneybookerspsp_va_gcb>
            <moneybookerspsp_va_dnk>
                <model>moneybookerspsp/va_dnk</model>
            </moneybookerspsp_va_dnk>
            <moneybookerspsp_va_psp>
                <model>moneybookerspsp/va_psp</model>
            </moneybookerspsp_va_psp>
            <moneybookerspsp_va_ent>
                <model>moneybookerspsp/va_ent</model>
            </moneybookerspsp_va_ent>
            <moneybookerspsp_va_ebt>
                <model>moneybookerspsp/va_ebt</model>
            </moneybookerspsp_va_ebt>
            <moneybookerspsp_va_so2>
                <model>moneybookerspsp/va_so2</model>
            </moneybookerspsp_va_so2>
            <moneybookerspsp_va_npy>
                <model>moneybookerspsp/va_npy</model>
            </moneybookerspsp_va_npy>
            <moneybookerspsp_va_pli>
                <model>moneybookerspsp/va_pli</model>
            </moneybookerspsp_va_pli>
            <moneybookerspsp_va_pwy>
                <model>moneybookerspsp/va_pwy</model>
            </moneybookerspsp_va_pwy>
            <moneybookerspsp_va_obt>
                <model>moneybookerspsp/va_obt</model>
            </moneybookerspsp_va_obt>
    	    <moneybookerspsp_va_amx>
                <model>moneybookerspsp/va_amx</model>
            </moneybookerspsp_va_amx>
            <moneybookerspsp_va_jcb>
                <model>moneybookerspsp/va_jcb</model>
            </moneybookerspsp_va_jcb>
            <moneybookerspsp_va_fbe>
                <model>moneybookerspsp/va_fbe</model>
            </moneybookerspsp_va_fbe>
            <moneybookerspsp_va_psc>
                <model>moneybookerspsp/va_psc</model>
            </moneybookerspsp_va_psc>
        </payment>
        <moneybookerspsp>
            <settings>
                <test_mode>0</test_mode>
                <debug>0</debug>
            </settings>
            <moneybookerspsp_cc>
                <active>0</active>
                <model>moneybookerspsp/cc</model>
                <order_status>processing</order_status>
                <title>Credit Card</title>
                <allowspecific>0</allowspecific>
                <payment_action>authorize</payment_action>
                <cctypes></cctypes>
            </moneybookerspsp_cc>
            <moneybookerspsp_elv>
                <active>0</active>
                <model>moneybookerspsp/elv</model>
                <order_status>processing</order_status>
                <title>Direct Debit</title>
                <allowspecific>0</allowspecific>
                <payment_action>authorize</payment_action>
            </moneybookerspsp_elv>
            <moneybookerspsp_va>
                <active>0</active>
                <model>moneybookerspsp/va</model>
                <order_status>processing</order_status>
                <title>Skrill Digital Wallet</title>
                <allowspecific>0</allowspecific>
            </moneybookerspsp_va>
            <moneybookerspsp_va_psc>
                <active>0</active>
                <model>moneybookerspsp/va_psc</model>
                <order_status>processing</order_status>
                <title>PaySafe Card</title>
                <allowspecific>0</allowspecific>
            </moneybookerspsp_va_psc>
            <moneybookerspsp_va_idl>
                <active>0</active>
                <model>moneybookerspsp/va_idl</model>
                <order_status>processing</order_status>
                <title>iDEAL</title>
                <allowspecific>1</allowspecific>
                <specificcountry>NL</specificcountry>
            </moneybookerspsp_va_idl>
            <moneybookerspsp_va_csi>
                <active>0</active>
                <model>moneybookerspsp/va_csi</model>
                <order_status>processing</order_status>
                <title>CartaSi</title>
                <allowspecific>1</allowspecific>
                <specificcountry>IT</specificcountry>
            </moneybookerspsp_va_csi>
            <moneybookerspsp_va_did>
                <active>0</active>
                <model>moneybookerspsp/va_did</model>
                <order_status>processing</order_status>
                <title>Lastschrift (ELV)</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
            </moneybookerspsp_va_did>
            <moneybookerspsp_va_gir>
                <active>0</active>
                <model>moneybookerspsp/va_gir</model>
                <order_status>processing</order_status>
                <title>Giropay</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
            </moneybookerspsp_va_gir>
            <moneybookerspsp_va_sft>
                <active>0</active>
                <model>moneybookerspsp/va_sft</model>
                <order_status>processing</order_status>
                <title>Sofortüberweisung</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
            </moneybookerspsp_va_sft>
            <moneybookerspsp_va_lsr>
                <active>0</active>
                <model>moneybookerspsp/va_lsr</model>
                <order_status>processing</order_status>
                <title>Laser</title>
                <allowspecific>1</allowspecific>
                <specificcountry>IE</specificcountry>
            </moneybookerspsp_va_lsr>
            <moneybookerspsp_va_mae>
                <active>0</active>
                <model>moneybookerspsp/va_mae</model>
                <order_status>processing</order_status>
                <title>Maestro</title>
                <allowspecific>1</allowspecific>
                <specificcountry>UK,ES,AT</specificcountry>
            </moneybookerspsp_va_mae>
            <moneybookerspsp_va_gcb>
                <active>0</active>
                <model>moneybookerspsp/va_gcb</model>
                <order_status>processing</order_status>
                <title>Carte Bleue</title>
                <allowspecific>1</allowspecific>
                <specificcountry>FR</specificcountry>
            </moneybookerspsp_va_gcb>
            <moneybookerspsp_va_dnk>
                <active>0</active>
                <model>moneybookerspsp/va_dnk</model>
                <order_status>processing</order_status>
                <title>Dankort</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DK</specificcountry>
            </moneybookerspsp_va_dnk>
            <moneybookerspsp_va_psp>
                <active>0</active>
                <model>moneybookerspsp/va_psp</model>
                <order_status>processing</order_status>
                <title>Postepay</title>
                <allowspecific>1</allowspecific>
                <specificcountry>IT</specificcountry>
            </moneybookerspsp_va_psp>
            <moneybookerspsp_va_ent>
                <active>0</active>
                <model>moneybookerspsp/va_ent</model>
                <order_status>processing</order_status>
                <title>eNETS</title>
                <allowspecific>1</allowspecific>
                <specificcountry>SG</specificcountry>
            </moneybookerspsp_va_ent>
            <moneybookerspsp_va_ebt>
                <active>0</active>
                <model>moneybookerspsp/va_ebt</model>
                <order_status>processing</order_status>
                <title>Nordea Solo - Sweden</title>
                <allowspecific>1</allowspecific>
                <specificcountry>SE</specificcountry>
            </moneybookerspsp_va_ebt>
            <moneybookerspsp_va_so2>
                <active>0</active>
                <model>moneybookerspsp/va_so2</model>
                <order_status>processing</order_status>
                <title>Nordea Solo - Finland</title>
                <allowspecific>1</allowspecific>
                <specificcountry>FI</specificcountry>
            </moneybookerspsp_va_so2>
            <moneybookerspsp_va_npy>
                <active>0</active>
                <model>moneybookerspsp/va_npy</model>
                <order_status>processing</order_status>
                <title>EPS Online-Überweisung</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AT</specificcountry>
            </moneybookerspsp_va_npy>
            <moneybookerspsp_va_pli>
                <active>0</active>
                <model>moneybookerspsp/va_pli</model>
                <order_status>processing</order_status>
                <title>POLi</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AU</specificcountry>
            </moneybookerspsp_va_pli>
            <moneybookerspsp_va_pwy>
                <active>0</active>
                <model>moneybookerspsp/va_pwy</model>
                <order_status>processing</order_status>
                <title>Przelewy24</title>
                <allowspecific>1</allowspecific>
                <specificcountry>PL</specificcountry>
            </moneybookerspsp_va_pwy>
            <moneybookerspsp_va_obt>
                <active>0</active>
                <model>moneybookerspsp/va_obt</model>
                <order_status>processing</order_status>
                <title>Online Bank Transfer</title>
                <allowspecific>0</allowspecific>
            </moneybookerspsp_va_obt>
            <moneybookerspsp_va_amx>
                <active>0</active>
                <model>moneybookerspsp/va_amx</model>
                <order_status>processing</order_status>
                <title>American Express</title>
                <allowspecific>0</allowspecific>
            </moneybookerspsp_va_amx>
            <moneybookerspsp_va_jcb>
                <active>0</active>
                <model>moneybookerspsp/va_jcb</model>
                <order_status>processing</order_status>
                <title>JCB / Diners</title>
                <allowspecific>0</allowspecific>
            </moneybookerspsp_va_jcb>
            <moneybookerspsp_va_fbe>
                <active>0</active>
                <model>moneybookerspsp/va_fbe</model>
                <order_status>processing</order_status>
                <title>4B / Euro 6000</title>
                <allowspecific>1</allowspecific>
                <specificcountry>ES</specificcountry>
            </moneybookerspsp_va_fbe>
        </moneybookerspsp>
        <paysafecard>
    	    <moneybookerspsp_va_psc>
                <active>0</active>
                <model>moneybookerspsp/va_psc</model>
                <order_status>processing</order_status>
                <title>PaySafe Card</title>
                <allowspecific>0</allowspecific>
            </moneybookerspsp_va_psc>
        </paysafecard>
    </default>
</config>
