<?xml version="1.0"?>
<config>
	<modules>
		<Sm_Creative>
			<version>1.0.0</version>
			<title>MagenTech.com</title>
			<link><![CDATA[http://www.magentech.com/]]></link>
		</Sm_Creative>
	</modules>
	<global>
		<models>
		  <creative>
			<class>Sm_Creative_Model</class>
		  </creative>
		</models>	
		<blocks>
            <creative>
                <class>Sm_Creative_Block</class>
            </creative>
        </blocks>				
		<helpers>
            <creative>
                <class>Sm_Creative_Helper</class>
            </creative>
        </helpers>
        <resources>
        	<creative_setup>
        		<setup>
        			<module>Sm_Creative</module>
        		</setup>
        	</creative_setup>
        </resources>
		<events>
			<controller_action_layout_render_before>
				 <observers>
                    <zen>
                        <type>singleton</type>
                        <class>creative/observer</class>
                        <method>less_compile</method>
                    </zen>
                </observers>
			</controller_action_layout_render_before>
		</events>		
	</global>
	
	<adminhtml>
        <translate>
      		<modules>
          		<Sm_Creative>
                     <files>
                          <default>Sm_Creative.csv</default>
                     </files>
                </Sm_Creative>
            </modules>
        </translate>
        <layout>
            <updates>
                <creative module="Sm_Creative">
                    <file>sm/creative.xml</file>
                </creative>
            </updates>
        </layout>
    </adminhtml>
 	<default>
		<creative_cfg module="creative">
			<general>
			<!-- Layout -->			
				<layout_styles>1</layout_styles>
				<color>orange</color>
			<!-- Entire Page -->
				<body_font_family></body_font_family>
				<body_font_size>13px</body_font_size>
				<google_font>Open Sans</google_font>
				<google_font_targets></google_font_targets>				
				<body_link_color>#666666</body_link_color>
				<body_link_hover_color>#666666</body_link_hover_color>
				<body_text_color>#666666</body_text_color>
				<body_title_color>#444444</body_title_color>
				<title_color_targets></title_color_targets>
				<body_background_color>#ffffff</body_background_color>
				<use_background_image>0</use_background_image>
				<body_background_image></body_background_image>
				<use_customize_image></use_customize_image>
				<background_customize_image></background_customize_image>
				<background_repeat></background_repeat>
				<background_position></background_position>
				<device_responsive>1</device_responsive>
			<!-- Menu -->	
				<menu_ontop>1</menu_ontop>
				<responsive_menu>3</responsive_menu>
			</general>
			<detail_creative>
				<show_imagezoom></show_imagezoom>
				<zoom_mode></zoom_mode>
				<use_addthis>1</use_addthis>
				<show_related></show_related>
				<related_number></related_number>
				<show_upsell></show_upsell>
				<upsell_number></upsell_number>
				<show_customtab></show_customtab>
				<customtab_name></customtab_name>
				<customtab_content></customtab_content>
			</detail_creative>
			<rich_snippets_setting>
				<use_rich_snippet>1</use_rich_snippet>
				<set_breadcrumbs>1</set_breadcrumbs>
				<google_plus_href>https://plus.google.com/u/0/+Smartaddons</google_plus_href>
			</rich_snippets_setting>			
			<social_creative>
				<show_facebook>1</show_facebook>
				<facebook_name>Facebook</facebook_name>
				<facebook_url>#</facebook_url>
				<show_twitter>1</show_twitter>
				<twitter_name>Twitter</twitter_name>
				<twitter_url>#</twitter_url>
				<show_google>1</show_google>
				<google_name>Google+</google_name>
				<google_url></google_url>				
				<show_linkedin>1</show_linkedin>
				<linkedin_name>Linkedin</linkedin_name>
				<linkedin_url>#</linkedin_url>
				<show_flickr>1</show_flickr>
				<flickr_name>Flickr</flickr_name>
				<flickr_url>#</flickr_url>				
				<show_pinterest>1</show_pinterest>
				<pinterest_name>Pinterest</pinterest_name>
				<pinterest_url>#</pinterest_url>
			</social_creative>
			<advanced>
				<show_cpanel>1</show_cpanel>
				<show_ontop>1</show_ontop>
				<show_addtocart>1</show_addtocart>
				<show_wishlist>1</show_wishlist>
				<show_compare>1</show_compare>
				<custom_copyright>0</custom_copyright>
				<copyright></copyright>
				<custom_css></custom_css>
				<custom_js></custom_js>
				<less_compile>1</less_compile>
			</advanced>
		</creative_cfg>
	</default> 
</config> 